*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-size: 20px;
}

/*
    * multi columns:
        [1] column-span: 1;                     =>> default value
        [2] column-fill:                        =>> supported in [firefox browser] only

    * column-span:  1                   =>> column 1            =>> only 2 values
                    all                 =>> not in columns      =>> only 2 values
*/

div{
    padding: 20px;
    border: 1px solid #ccc;

    column-count: 3;

    column-rule: 7px solid #080;             /* short hand code */
}

div h1{
    column-span: all;                           /* not in columns */
}
