*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 24px;
}

/*
    * [nth]:
        [n]  -> number
        [th] -> ordering number [1st] [2nd] [3rd] [4th] [5th]

    * nth(number, formula, keyword)
    * keyword: [even] or [odd]
*/

div{
    width: 400px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
}

div:nth-child(odd){
    background-color: #eee;
}

div:nth-child(even){
    background-color: #ccc;
}