*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 24px;
}

/*
    * [nth]:
        [n]  -> number
        [th] -> ordering number [1st] [2nd] [3rd] [4th] [5th]

    * nth(number, formula, keyword)
    * keyword: [odd] or [even]
*/

div, p{
    width: 400px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
}

div:nth-child(2){                   /* [1] count from first child */
    background-color: #eee;       /* last CSS code here  =>> override this code */
}

/*
    [1] [first-child] better than [nth-child(1)]        =>> two are the same
    [2] [last-child] better than [nth-last-child(1)]    =>> two are the same
*/
div:nth-last-child(1){              /* [2] count from last child */
    background-color: #ccc;
}

/*
    [1] [first-of-type] better than [nth-of-type(1)]
    [2] [last-of-type] better than [nth-last-of-type(1)]
*/
div:nth-last-of-type(2){              /* [2] count from last child */
    background-color: blueviolet;
}

div:nth-last-child(even){
    background-color: chocolate;
}
