*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-size: 20px;
}

/* space between [section] [:last-child]      =>> deals with [childs] */
/* no space between [section] [:last-child]   =>> deals with [section] itself */

section :last-child{
    background-color: aqua;
    padding: 10px;
    font-size: 24px;
    border-radius: 10px;
}

section :not(:last-child){
    color: red;
}