*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-size: 18px;
}

/* space between [section] [:first-of-type]     =>> deals with [childs] */
/* no space between [section] [:first-of-type]  =>> deals with [section] itself */

section{
    padding: 10px;
    border: 1px solid #ccc;
}

section div:first-child{
    color: red;
}

section div:last-of-type{
    background-color:bisque;
    margin: 5px 0px;
    padding: 10px;
    border-radius: 5px;
}
