/*
    [1] define [animation function]:
        @keyframes animationName{
            from{
                CSS attribute
            }to{
                CSS attribute
            }

            0%{
                CSS attribute
            }100%{
                CSS attribute
            }
        }

    [2] call [animation function]:
        * animation: coloring   3s        5                 linear;
        * animation:   name   duration  iteration-count

    * [from = 0%] [to = 100%]   =>> selectors

    * [animation-duration]:  =>> for one round
*/

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div{
    width: 300px;
    height: 300px;
    margin: 50px auto;
    background: #f00;

    animation: coloring 3s 5 linear;            /* [2] call [animation function] */
}


@keyframes coloring{                            /* [1] define [animation function] */
    /*
    // way [1]: 
    from{                                       =>> [from = 0%] [to = 100%]
        background: #f00;
    }to{
        background: #080;
    }
    */

    /* way [2]: */
    0%{                                         /* [from = 0%] [to = 100%] */
        background: #f00;
    }100%{
        background: #080;
    }
}