/*
    [1] define [animation function]:
        @keyframes coloring{
            from{
                CSS attribute
            }to{
                CSS attribute
            }

            0%{
                CSS attribute
            }100%{
                CSS attribute
            }
        }

    [2] call [animation function]:
        * animation: coloring   3s        5                 linear;
        * animation:   name   duration  iteration-count

    * [from = 0%] [to = 100%]   =>> selectors

    * [animation-duration]:  =>> for one round
*/


*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div{
    color: white;
    text-align: center;
    line-height: 200px;
    font-size: 24px;
}

div.first{
    width: 200px;
    height: 200px;
    background: #f00;
    position: absolute;

    -webkit-animation: moving 7s 5 linear;      /* [2] call [animation function] */
    -moz-animation: moving 7s 5 linear;         /* [2] call [animation function] */
    animation: moving 7s 5 linear;              /* [2] call [animation function] */
}

div.second{
    width: 200px;
    height: 200px;
    background: #00f;
    position: absolute;

    -webkit-animation: moving 10s 3 linear;      /* [2] call [animation function] */
    -moz-animation: moving 10s 3 linear;         /* [2] call [animation function] */
    animation: moving 10s 3 linear;              /* [2] call [animation function] */
}


@-webkit-keyframes moving{                      /* [1] define [animation function] */

    0%{
        top: 10px;                      /* [px] is a must */
        left: 10px;
    }25%{
        top: 10px;
        left: 500px;
        background-color: #080;
        border-radius: 50%;
    }50%{
        top: 300px;
        left: 500px;
    }75%{
        top: 300px;
        left: 0px;
    }100%{
        top: 10px;
        left: 10px;
    }
}

@-moz-keyframes moving{                         /* [1] define [animation function] */

    0%{
        top: 10px;                      /* [px] is a must */
        left: 10px;
    }25%{
        top: 10px;
        left: 500px;
        background-color: #080;
        border-radius: 50%;
    }50%{
        top: 300px;
        left: 500px;
    }75%{
        top: 300px;
        left: 0px;
    }100%{
        top: 10px;
        left: 10px;
    }
}

@keyframes moving{                              /* [1] define [animation function] */

    /* way [2]: */
    0%{
        top: 10px;                      /* [px] is a must */
        left: 10px;
    }25%{
        top: 10px;
        left: 500px;
        background-color: #080;
        border-radius: 50%;
    }50%{
        top: 300px;
        left: 500px;
    }75%{
        top: 300px;
        left: 10px;
    }100%{
        top: 10px;
        left: 10px;
    }
}


