*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div{
    margin: 5px 0px;
    padding: 5px;
    border: 1px solid #ccc;
}
span{
    color: #f00;
}

/*
    * selectors:
        [1][~] => next selector
*/

p ~ span{               /* next [span] after [p] =>> separator or not  =>> the same parent */
    color: #0f0;
}
