*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div{
    border: 1px solid #ccc;
}

/*
    * selectors:
        [2][^] =>> attribute selector
        =>> complete value
        =>> start letters of the value
*/

/* [class="osama"] = [class^="osama"] = [class^="os"] */
[class^="os"] {
    color: #f00;
}
