*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div{
    border: 1px solid #ccc;
}

/*
    * selectors:
        [3][$] =>> attribute selector
        =>> complete value
        =>> end letters of the value
*/

/* [class="osama"] = [class$="osama"] = [class$="ama"] = [class$="a"] */
[class$="a"] {
    color: #f00;
}
