*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div{
    border: 1px solid #ccc;
}

/*
    * selectors:
        [4][*] => attribute selector
        =>> complete value
        =>> include letters of the value
*/

/* [class="foxmen"] = [class*="foxmen"] = [class*="xm"] = [class*="fox"] = [class*="men"] */
[class*="fox"]{
    color: red;
}