/*
    * web safe fonts: 
        =>> [font-family: Arial, tahoma, "times new roman", ...;]     =>> in all operating systems

    * [www.cssfontstack.com] website
    * [fonts.google.com] website

    * types of fonts  =>> for different browsers:
        [1] TTF:        =>> true type font
        [2] OTF:        =>> open type font
        [3] EOT:        =>> embedded type font
        [3] WOFF:       =>> web open font
        [4] WOFF2:      =>> web open font 2
        [5] SVG:        =>> scalable vector graphic
*/

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div{
    width: 300px;
    margin: 50px auto;
    padding: 15px;
    background: #eee;
    text-align: center;
    font-family: ahmed-koresh;      /* link manually added down */
    font-family: Pacifico;          /* link added in [head html] */
    font-family: Margarine;         /* link added in [head html] */
    font-size: 40px;
}

@font-face{
    font-family: ahmed-koresh;          /* manually added [font-family] */
    src: url("fonts/osamaElzero.ttf");  /* online link for  =>> manually added [font-family] */
    src: url("fonts/osamaElzero.woff"); /* example  =>> not real */
}
