*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 20px;
}

section{
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}
/* ============================================================= */
                                      /* [3] third best selector way */
p:only-child{                         /* only child =>> [inside body] or [any element]  */
    color:antiquewhite;             /* applied */
    background-color: blue;         /* not applied */
}

section p:only-child{                 /* [1] best selector way */
    background-color: green;        /* [specified selector] more powerful than [not specified selector] */
}

section :only-child{                  /* [2] second best selector way */
    background-color: chocolate;    /* [specified selector] more powerful than [not specified selector] */
    padding: 10px;
}
