/*
    [1] define [animation function]
        @keyframes animationName {
            from{
                CSS attibute
            }to{
                CSS attibute
            }

            0%{
                CSS attibute
            }100%{
                CSS attibute
            }
        }


    [2] call [animation function]
        [1] animation-name: none                    =>> default
        [2] animation-duration:                     =>> for one round

        [3] animation-iteration-count:
                                    1               =>> default
                                    2, 3 ...
                                    infinite

        [4] animation-direction:
                                normal              =>> from [0%] to [100%]     =>> default
                                reverse             =>> from [100%] to [0%]
                                alternate           =>> normal  =>> reverse
                                alternate-reverse   =>> revere  =>> normal

        [5] animation-delay: 
                            0s                      =>> default
                            1s, 2s

        [6] animation-fill-mode:
                                none                =>> default
                                forwards            =>> stop at last keyframe
                                backwards           =>> execute first keyframe  while delay
                                both                =>> [forwards] [backwards]

    * [from = 0%] [to = 100%]   =>> selectors
*/


*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div{
    color: white;
    font-size: 24px;
}

div.first{
    width: 150px;
    height: 150px;
    background: #f00;
    position: absolute;
    top: 10px;
    left: 10px;

    animation-name: moving;
    animation-duration: 4s;

    animation-iteration-count: 1;
    animation-direction: normal;
    
    animation-delay: 3s;
    animation-fill-mode: backwards;
}

div.second{
    width: 150px;
    height: 150px;
    background: #00f;
    position: absolute;
    top: 10px;
    left: 10px;

    animation-name: moving;
    animation-duration: 4s;

    animation-iteration-count: 1;
    animation-direction: normal;

    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes moving{

    0%{
        top: 10px;                          /* [px] is a must */
        background: rgba(0, 0, 0, .9);
    }20%{
        top: 200px;
    }30%{
        top: 150px;
    }40%{
        top: 300px;
    }50%{
        top: 250px;
    }60%{
        top: 400px;
    }70%{
        top: 350px;
    }80%{
        top: 400px;
    }90%{
        top: 350px;
    }100%{
        top: 400px;
    }
}


