
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    perspective: 600px;
}

img{
    display: block;
    margin: 100px auto;
    transition: all 0.5s ease-in-out;
}

img:hover{
    /* transform: matrix3d(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0) */
    /* transform: matrix3d(scaleX ,0,0,0,0, scaleY,0,0,0,0,0,0, trnaslateX,translateY,scaleZ,0) */
    transform: matrix3d(2,0,0,0,0,1,0,0,0,0,0,0,300,300,400,0);

}
