/*
    * lesson [45]: animation exercise [create swing dropdown]
*/

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div.container{
    width: 250px;
    height: 50px;
    margin: 10px;
    font-weight: bold;
    font-family: Arial, Tahoma;
    text-align: center;
    float: left;
}

div.container .box{
    height: 50px;
    color: #fff;
    line-height: 50px;
    position: relative;
}

div.container a{
    width: 100%;                /* 100% = 250px */
    height: 50px;
    color: white;
    background: #333;
    line-height: 50px;          /* line-height = height */
    text-decoration: none;
    display: inline-block;
}


/* ==== [1] [normal box] ==== */
div.normal:before{
    content: "Normal Hover";
    margin-bottom: 10px;
    padding: 10px;
    display: block;
}

div.normal .box{
    background: #62c8f8;        /* [1] twitter color */
}


/* ---- [2] [transition box] ----*/
div.transition:before{
    content: "Transition Hover";
    margin-bottom: 10px;
    padding: 10px;
    display: block;
}

div.transition .box{
    background: #3b5998;        /* [2] facebook color */
}


/* ==== [3] [animation box] ==== */
div.animation:before{
    content: "Animation Hover";
    margin-bottom: 10px;
    padding: 10px;
    display: block;
}
div.animation .box{
    background: #c8302a;        /* [3] youtube color */
}