*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* [1] anything checked  =>> in general */
:checked{
    width: 50px;
}

/* [1] anything checked  =>> inside element with class ["osama"] */
/* space between [.osama] [:checked] is a must */
.osama :checked{
    width: 50px;
}

/* no space between [input] [type=radio] */
/* no space between [type=radio] [:checked] */
input[type=radio]:checked{
    width: 100px;
}
