*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 24px;
}

/*
    * [nth]:
        [n]  -> number
        [th] -> ordering number [1st] [2nd] [3rd] [4th] [5th]

    * nth(number, formula, keyword)
    * keyword: [odd] or [even]
*/

div, p{
    width: 400px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
}

/*
    * (2n+1) = (odd):
        =>> 2*0 + 1 = 1
        =>> 2*1 + 1 = 3
        =>> 2*2 + 1 = 5
        =>> 2*3 + 1 = 7
        =>> 2*4 + 1 = 9
        =>> 2*5 + 1 = 11
*/
div:nth-last-child(2n+1){                    /* count from last child */
    background-color: #ccc;
}
