*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 24px;
}

/*
    * [nth]:
        [n]  -> number
        [th] -> ordering number [1st] [2nd] [3rd] [4th] [5th]

    * nth(number, formula, keyword)
    * keyword: [odd] or [even]
*/

div, p{
    width: 400px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
}

/* 
    * [range] 
    * [MDN], [W3School]  =>> references for [selectors]
*/

div:nth-child(-n+8):nth-child(n+4){     /* (-n+8) =>> first child [if div]   =>> till [eigth child] */
    background-color: #ccc;           /* (n+4)  =>> fourth child [if div]  =>> and all next divs */
}

/*
div:nth-of-type(-n+8):nth-of-type(n+4){
    background-color: #ccc;
}
*/
